<mat-sidenav-container class="example-container">
  <mat-sidenav
    class="example-sidenav"
    mode="side"
    opened
    [fixedInViewport]="false"
  >
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Actions panel
      </mat-panel-title>
      <mat-panel-description>
        Actions
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p><button mat-raised-button color="primary" (click)="openDialog(false)">Add root segment</button></p>
    <ng-template [ngIf]="!isNullOrUndefined(selectedSegment)"><div>
      <p>Current segment is {{selectedSegment?.resourceName}}</p>
      <p><button mat-raised-button color="primary" (click)="openDialog(true)">Add chlid segment</button></p>
      <p><button mat-raised-button color="warn" (click)="deleteSelectedSegment()">Delete segment</button></p></div>
    </ng-template>
  </mat-expansion-panel>
    <gateway-tree-view
      [gatewaySegments]="gateway.segments"
      (nodeSelected)="showNode($event)"
    ></gateway-tree-view
  ></mat-sidenav>
  <mat-sidenav-content autosize>
    <gateway-details-header [gatewayName]="gateway.name" [userPoolId]="gateway.userPoolId" [gatewayId]="gateway.id"></gateway-details-header>
    <div
      *ngIf="
        !isNullOrUndefined(selectedSegment);
        then showGatewayDetails;
        else noSegmentSelected
      "
    ></div>
    <ng-template #showGatewayDetails>
      <gateway-details
        [selectedSegment]="selectedSegment"
        (saveSegmentSettings)="saveSettings($event)"
      ></gateway-details>
    </ng-template>
    <ng-template #noSegmentSelected
      ><p class="center mat-display-1">No segment selected to be displayed.</p></ng-template
    >
  </mat-sidenav-content>
</mat-sidenav-container>
