<mat-sidenav-container class="example-container">
  <mat-sidenav
    class="example-sidenav"
    mode="side"
    opened
    [fixedInViewport]="false"
  >
    <gateway-tree-view
      [gatewaySegments]="gateway.segments"
      (nodeSelected)="showNode($event)"
    ></gateway-tree-view
  ></mat-sidenav>
  <mat-sidenav-content autosize>
    <gateway-details-header [gatewayName]="gateway.name" [userPoolId]="gateway.userPoolId" [gatewayId]="gateway.id"></gateway-details-header>
    <div
      *ngIf="
        !isNullOrUndefined(selectedSegment);
        then showGatewayDetails;
        else noSegmentSelected
      "
    ></div>
    <ng-template #showGatewayDetails>
      <gateway-details
        [selectedSegment]="selectedSegment"
        (saveSegmentSettings)="saveSettings($event)"
      ></gateway-details>
    </ng-template>
    <ng-template #noSegmentSelected
      ><p class="center mat-display-1">No segment selected to be displayed.</p></ng-template
    >
  </mat-sidenav-content>
</mat-sidenav-container>
